---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      Authorization:
      - "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Xero-Correlation-Id:
      - 968402ee-a8d4-4668-9830-431a17d01b94
      X-Appminlimit-Remaining:
      - '9998'
      X-Minlimit-Remaining:
      - '59'
      X-Daylimit-Remaining:
      - '998'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>968402ee-a8d4-4668-9830-431a17d01b94</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>nnc-oauth2</ProviderName>\r\n  <DateTimeUTC>2026-06-10T12:08:12.4232081Z</DateTimeUTC>\r\n
        \ <Accounts>\r\n    <Account>\r\n      <AccountID>562555f2-8cde-4ce9-8203-0363922537a4</AccountID>\r\n
        \     <Code>090</Code>\r\n      <Name>Business Bank Account</Name>\r\n      <Status>ACTIVE</Status>\r\n
        \     <Type>BANK</Type>\r\n      <TaxType>NONE</TaxType>\r\n      <Class>ASSET</Class>\r\n
        \     <EnablePaymentsToAccount>false</EnablePaymentsToAccount>\r\n      <ShowInExpenseClaims>false</ShowInExpenseClaims>\r\n
        \     <BankAccountNumber>0908007006543</BankAccountNumber>\r\n      <BankAccountType>BANK</BankAccountType>\r\n
        \     <CurrencyCode>USD</CurrencyCode>\r\n      <ReportingCode>ASS</ReportingCode>\r\n
        \     <ReportingCodeName>Asset</ReportingCodeName>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \     <UpdatedDateUTC>2026-06-10T12:04:34.507</UpdatedDateUTC>\r\n      <AddToWatchlist>false</AddToWatchlist>\r\n
        \   </Account>\r\n    <Account>\r\n      <AccountID>72f1dcfe-5d7d-4239-bf9d-e12469309716</AccountID>\r\n
        \     <Code>091</Code>\r\n      <Name>Business Savings Account</Name>\r\n
        \     <Status>ACTIVE</Status>\r\n      <Type>BANK</Type>\r\n      <TaxType>NONE</TaxType>\r\n
        \     <Class>ASSET</Class>\r\n      <EnablePaymentsToAccount>false</EnablePaymentsToAccount>\r\n
        \     <ShowInExpenseClaims>false</ShowInExpenseClaims>\r\n      <BankAccountNumber>121314121314</BankAccountNumber>\r\n
        \     <BankAccountType>BANK</BankAccountType>\r\n      <CurrencyCode>USD</CurrencyCode>\r\n
        \     <ReportingCode>ASS</ReportingCode>\r\n      <ReportingCodeName>Asset</ReportingCodeName>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n      <UpdatedDateUTC>2026-06-10T12:04:34.507</UpdatedDateUTC>\r\n
        \     <AddToWatchlist>false</AddToWatchlist>\r\n    </Account>\r\n    <Account>\r\n
        \     <AccountID>d1ebb97b-d207-4ccb-9ab6-8a466a8b4d39</AccountID>\r\n      <Code>200</Code>\r\n
        \     <Name>Sales</Name>\r\n      <Status>ACTIVE</Status>\r\n      <Type>REVENUE</Type>\r\n
        \     <TaxType>OUTPUT</TaxType>\r\n      <Description>Income from any normal
        business activity</Description>\r\n      <Class>REVENUE</Class>\r\n      <EnablePaymentsToAccount>false</EnablePaymentsToAccount>\r\n
        \     <ShowInExpenseClaims>false</ShowInExpenseClaims>\r\n      <BankAccountType>NONE</BankAccountType>\r\n
        \     <ReportingCode>REV.TRA.GOO</ReportingCode>\r\n      <ReportingCodeName>Sale
        of goods</ReportingCodeName>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \     <UpdatedDateUTC>2026-06-10[...]
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/BankTransactions
    body:
      encoding: UTF-8
      string: xml=%3CBankTransaction%3E%0A%20%20%3CLineAmountTypes%3EExclusive%3C%2FLineAmountTypes%3E%0A%20%20%3CType%3ERECEIVE-PREPAYMENT%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CName%3EJazz%20Kang%3C%2FName%3E%0A%20%20%3C%2FContact%3E%0A%20%20%3CLineItems%3E%0A%20%20%20%20%3CLineItem%3E%0A%20%20%20%20%20%20%3CDescription%3EClingfilm%20bike%20shorts%3C%2FDescription%[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/BankTransactions/b3b5b30c-44e7-4b8a-9c9c-25c3d77cd36a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      Authorization:
      - "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Xero-Correlation-Id:
      - 35902ece-9617-4346-9358-f30858b37949
      X-Appminlimit-Remaining:
      - '9996'
      X-Minlimit-Remaining:
      - '57'
      X-Daylimit-Remaining:
      - '996'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>35902ece-9617-4346-9358-f30858b37949</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>nnc-oauth2</ProviderName>\r\n  <DateTimeUTC>2026-06-10T12:08:13.7686866Z</DateTimeUTC>\r\n
        \ <BankTransactions>\r\n    <BankTransaction>\r\n      <Contact>\r\n        <ContactID>f41e7fc7-d517-4252-a956-c5c8a48a3b61</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Jazz Kang</Name>\r\n
        \       <Addresses>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n        </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n
        \           <PhoneType>DEFAULT</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>DDI</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>FAX</PhoneType>\r\n          </Phone>\r\n          <Phone>\r\n
        \           <PhoneType>MOBILE</PhoneType>\r\n          </Phone>\r\n        </Phones>\r\n
        \       <UpdatedDateUTC>2026-06-10T12:08:13.09</UpdatedDateUTC>\r\n      </Contact>\r\n
        \     <Date>2026-06-10T00:00:00</Date>\r\n      <Status>AUTHORISED</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>Clingfilm bike shorts</Description>\r\n
        \         <UnitAmount>200.00</UnitAmount>\r\n          <TaxType>OUTPUT</TaxType>\r\n
        \         <TaxAmount>16.50</TaxAmount>\r\n          <LineAmount>200.00</LineAmount>\r\n
        \         <AccountCode>200</AccountCode>\r\n          <Quantity>1.0000</Quantity>\r\n
        \         <LineItemID>afb9bae6-fd4b-47cb-bc5f-a683b47c817f</LineItemID>\r\n
        \         <AccountID>d1ebb97b-d207-4ccb-9ab6-8a466a8b4d39</AccountID>\r\n
        \         <DiscountEnteredAsPercent>true</DiscountEnteredAsPercent>\r\n        </LineItem>\r\n
        \     </LineItems>\r\n      <SubTotal>200.00</SubTotal>\r\n      <TotalTax>16.50</TotalTax>\r\n
        \     <Total>216.50</Total>\r\n      <UpdatedDateUTC>2026-06-10T12:08:13.183</UpdatedDateUTC>\r\n
        \     <CurrencyCode>USD</CurrencyCode>\r\n      <BankTransactionID>b3b5b30c-44e7-4b8a-9c9c-25c3d77cd36a</BankTransactionID>\r\n
        \     <BankAccount>\r\n        <AccountID>562555f2-8cde-4ce9-8203-0363922537a4</AccountID>\r\n
        \       <Code>090</Code>\r\n        <Name>Business Bank Account</Name>\r\n
        \     </BankAccount>\r\n      <Type>RECEIVE-PREPAYMENT</Type>\r\n      <IsReconciled>false</IsReconciled>\r\n
        \     <CurrencyRate>1.0000000000</CurrencyRate>\r\n      <PrepaymentID>00c822e9-ccdf-4c19-bc6e-8d7c3e878c4e</PrepaymentID>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </BankTransaction>\r\n
        \ </BankTransactions>\r\n</Response>"
  recorded_at: Wed, 10 Jun 2026 12:08:13 GMT
recorded_with: VCR 6.4.0
