---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: UTF-8
      string: xml=%3CContact%3E%0A%20%20%3CName%3Etest-person-585748819%3C%2FName%3E%0A%3C%2FContact%3E%0A
    headers:
      Charset:
      - utf-8
      Content-Type:
      - application/x-www-form-urlencoded
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      Authorization:
      - "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Xero-Correlation-Id:
      - 4ba93852-bd6d-4c0d-bb74-41964d5fe9d6
      X-Appminlimit-Remaining:
      - '9994'
      X-Minlimit-Remaining:
      - '55'
      X-Daylimit-Remaining:
      - '994'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>4ba93852-bd6d-4c0d-bb74-41964d5fe9d6</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>nnc-oauth2</ProviderName>\r\n  <DateTimeUTC>2026-06-10T12:08:14.8295235Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>1e021684-7964-4060-9e10-124418fc578c</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>test-person-585748819</Name>\r\n
        \     <Addresses>\r\n        <Address>\r\n          <AddressType>STREET</AddressType>\r\n
        \       </Address>\r\n        <Address>\r\n          <AddressType>POBOX</AddressType>\r\n
        \       </Address>\r\n      </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n
        \         <PhoneType>DEFAULT</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>DDI</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>FAX</PhoneType>\r\n        </Phone>\r\n        <Phone>\r\n
        \         <PhoneType>MOBILE</PhoneType>\r\n        </Phone>\r\n      </Phones>\r\n
        \     <UpdatedDateUTC>2026-06-10T12:08:14.79</UpdatedDateUTC>\r\n      <IsSupplier>false</IsSupplier>\r\n
        \     <IsCustomer>false</IsCustomer>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 10 Jun 2026 12:08:14 GMT
- request:
    method: post
    uri: https://api.xero.com/api.xro/2.0/Contacts?summarizeErrors=false
    body:
      encoding: UTF-8
      string: xml=%3CContacts%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CContactID%3E1e021684-7964-4060-9e10-124418fc578c%3C%2FContactID%3E%0A%20%20%20%20%3CContactStatus%3EACTIVE%3C%2FContactStatus%3E%0A%20%20%20%20%3CName%3Etest-person-585748819%3C%2FName%3E%0A%20%20%20%20%3CAddresses%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%20%20%3CAddressType%3E[...]
[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts/1e021684-7964-4060-9e10-124418fc578c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      Authorization:
      - "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Xero-Correlation-Id:
      - 7ea8e42e-3c70-4c7b-9916-7e0591d91bae
      X-Appminlimit-Remaining:
      - '9991'
      X-Minlimit-Remaining:
      - '52'
      X-Daylimit-Remaining:
      - '991'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>7ea8e42e-3c70-4c7b-9916-7e0591d91bae</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>nnc-oauth2</ProviderName>\r\n  <DateTimeUTC>2026-06-10T12:08:16.2956132Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>1e021684-7964-4060-9e10-124418fc578c</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>test-person-585748819</Name>\r\n
        \     <EmailAddress>foo@bar.com</EmailAddress>\r\n      <Addresses>\r\n        <Address>\r\n
        \         <AddressType>STREET</AddressType>\r\n        </Address>\r\n        <Address>\r\n
        \         <AddressType>POBOX</AddressType>\r\n        </Address>\r\n      </Addresses>\r\n
        \     <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2026-06-10T12:08:15.267</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>false</IsCustomer>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n    </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Wed, 10 Jun 2026 12:08:16 GMT
recorded_with: VCR 6.4.0
