---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Type==%22ACCREC%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      Authorization:
      - "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Xero-Correlation-Id:
      - 8ef1f7d8-93c9-4617-a1eb-28dcfa93eff2
      X-Appminlimit-Remaining:
      - '9966'
      X-Minlimit-Remaining:
      - '56'
      X-Daylimit-Remaining:
      - '966'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8ef1f7d8-93c9-4617-a1eb-28dcfa93eff2</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>nnc-oauth2</ProviderName>\r\n  <DateTimeUTC>2026-06-10T12:08:28.8766367Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>5b96e86b-418e-48e8-8949-308c14aec278</ContactID>\r\n
        \       <Name>Marine Systems</Name>\r\n      </Contact>\r\n      <Date>2026-06-09T00:00:00</Date>\r\n
        \     <DueDate>2026-06-15T00:00:00</DueDate>\r\n      <BrandingThemeID>d613f7f9-8fcb-477f-97f0-31eb85b7e5cf</BrandingThemeID>\r\n
        \     <Status>AUTHORISED</Status>\r\n      <LineAmountTypes>Inclusive</LineAmountTypes>\r\n
        \     <SubTotal>365.82</SubTotal>\r\n      <TotalTax>30.18</TotalTax>\r\n
        \     <Total>396.00</Total>\r\n      <UpdatedDateUTC>2008-12-19T01:37:59.057</UpdatedDateUTC>\r\n
        \     <CurrencyCode>USD</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>fee88eea-f2aa-4a71-a372-33d6d83d3c45</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0027</InvoiceNumber>\r\n      <Reference>Ref MK815</Reference>\r\n
        \     <AmountDue>396.00</AmountDue>\r\n      <AmountPaid>0.00</AmountPaid>\r\n
        \     <AmountCredited>0.00</AmountCredited>\r\n      <CurrencyRate>1.0000000000</CurrencyRate>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n      <HasErrors>false</HasErrors>\r\n
        \   </Invoice>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>37918a06-92f6-4edb-bfe0-1fc041c90f8b</ContactID>\r\n
        \       <Name>Boom FM</Name>\r\n      </Contact>\r\n      <Date>2026-04-17T00:00:00</Date>\r\n
        \     <DueDate>2026-04-30T00:00:00</DueDate>\r\n      <Status>PAID</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <SubTotal>500.00</SubTotal>\r\n
        \     <TotalTax>41.25</TotalTax>\r\n      <Total>541.25</Total>\r\n      <UpdatedDateUTC>2008-12-20T17:38:32.66</UpdatedDateUTC>\r\n
        \     <CurrencyCode>USD</CurrencyCode>\r\n      <FullyPaidOnDate>2026-04-28T00:00:00</FullyPaidOnDate>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>4c4db294-3633-45cd-8706-f0b3b0079609</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0010</InvoiceNumber>\r\n      <Reference>Training</Reference>\r\n
        \     <CreditNotes>\r\n        <CreditNote>\r\n          <Date>2026-04-28T00:00:00</Date>\r\n
        \         <Total>541.25</Total>\r\n          <AppliedAmount>541.25</AppliedAmount>\r\n
        \         <CreditNoteID>602f5486-664e-492f-b4d1-e12df1d4b8ba</CreditNoteID>\r\n
        \         <CreditNoteNumber>CN-0014</CreditNoteNumber>\r\n          <HasErrors>false</HasErrors>\r\n
        \       </CreditNote>\r\n      </CreditNotes>\r\n      <AmountDue>0.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <AmountCredited>541.25</AmountCredited>\r\n
        \     <HasAttachments>false</HasAttachments>\r\n      <HasErrors>false</HasErrors>\r\n
        \   </Invoice>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>fd89489e-699c-4d77-a881-10c127bfbeb3</ContactID>\r\n
      [...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices?where=Type==%22ACCPAY%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      Authorization:
      - "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Xero-Correlation-Id:
      - 9c1dfe46-492a-49e3-a422-13f797a7f3f9
      X-Appminlim[...]
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/9f5bca33-8590-4b6f-acfb-e85712b10217/OnlineInvoice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      Authorization:
      - "<REDACTED>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Xero-Correlation-Id:
      - b088c217-74c9-4ef4-a370-5b759857d261
      X-Appminlimit-Remaining:
      - '9964'
      X-Minlimit-Remaining:
      - '54'
      X-Daylimit-Remaining:
      - '964'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: The resource you're looking for cannot be found
  recorded_at: Wed, 10 Jun 2026 12:08:30 GMT
recorded_with: VCR 6.4.0
