---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/BankTransactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Charset:
      - utf-8
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      Authorization:
      - "<REDACTED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Xero-Correlation-Id:
      - 91a9d00d-ebdb-4028-a0b8-e6f5fe42be53
      X-Appminlimit-Remaining:
      - '9956'
      X-Minlimit-Remaining:
      - '46'
      X-Daylimit-Remaining:
      - '956'
      Xero-Tenant-Id:
      - "<XERO_TENANT_ID>"
      X-Client-Tls-Ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>91a9d00d-ebdb-4028-a0b8-e6f5fe42be53</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>nnc-oauth2</ProviderName>\r\n  <DateTimeUTC>2026-06-10T12:08:34.2559071Z</DateTimeUTC>\r\n
        \ <BankTransactions>\r\n    <BankTransaction>\r\n      <Contact>\r\n        <ContactID>43d1337e-4360-4589-9a76-1d0538c4ce6f</ContactID>\r\n
        \       <Name>Ridgeway Bank</Name>\r\n      </Contact>\r\n      <Date>2026-03-30T00:00:00</Date>\r\n
        \     <Status>AUTHORISED</Status>\r\n      <LineAmountTypes>Inclusive</LineAmountTypes>\r\n
        \     <SubTotal>15.00</SubTotal>\r\n      <TotalTax>0.00</TotalTax>\r\n      <Total>15.00</Total>\r\n
        \     <UpdatedDateUTC>2008-12-20T22:50:55.09</UpdatedDateUTC>\r\n      <CurrencyCode>USD</CurrencyCode>\r\n
        \     <BankTransactionID>b9d7c42c-506a-4e56-a8a1-a41330580834</BankTransactionID>\r\n
        \     <BankAccount>\r\n        <AccountID>562555f2-8cde-4ce9-8203-0363922537a4</AccountID>\r\n
        \       <Code>090</Code>\r\n        <Name>Business Bank Account</Name>\r\n
        \     </BankAccount>\r\n      <Type>SPEND</Type>\r\n      <Reference>Fee</Reference>\r\n
        \     <IsReconciled>true</IsReconciled>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </BankTransaction>\r\n    <BankTransaction>\r\n      <Contact>\r\n        <ContactID>cb906ad4-b1d7-44bf-b25a-4862c7059a43</ContactID>\r\n
        \       <Name>Office Supplies Company</Name>\r\n      </Contact>\r\n      <Date>2026-04-04T00:00:00</Date>\r\n
        \     <Status>AUTHORISED</Status>\r\n      <LineAmountTypes>Inclusive</LineAmountTypes>\r\n
        \     <SubTotal>21.71</SubTotal>\r\n      <TotalTax>1.79</TotalTax>\r\n      <Total>23.50</Total[...]
